@font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/DINPro.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DINPro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/DINPro.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/DINPro.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/DINPro.ttf')  format('truetype'); /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/DINPro-Bold.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/DINPro-Bold.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/DINPro-Bold.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/DINPro-Bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'DIN Pro';
    src: url('../fonts/DINPro-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/DINPro-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/DINPro-Medium.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/DINPro-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'PF DinText Pro';
    src: url('../fonts/PFDinTextPro-Medium.eot'); /* IE9 Compat Modes */
    src: url('../fonts/PFDinTextPro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/PFDinTextPro-Medium.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/PFDinTextPro-Medium.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/PFDinTextPro-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
  }

